name: codestyle-check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache: true

    - name: Set up Check Tool
      run: |
        go install github.com/client9/misspell/cmd/misspell@latest

    - name: Code Style Check
      run: |
        ls -alh
        go build -v ./...
        gofmt -s
        go vet ./...
        misspell -error
        curl 'https://goreportcard.com/checks' -H 'Content-Type: application/x-www-form-urlencoded; charset=UTF-8' --data-raw 'repo=github.com%2Fchyroc%2Flark'
